HOST=0.0.0.0
PORT=8000
APP_NAME=PryTodo
APP_URL=http://localhost:3001
APP_SECRET=
LOG_LEVEL=DEBUG
# Database
DATABASE_DEBUG=false
DATABASE_URL="postgres://pry_user:pry_password@postgres-db:5432/pry_todo?sslmode=disable"
# Supabase
SUPABASE_URL=
SUPABASE_JWT_SECRET=
SUPABASE_ANON_KEY=
# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=