/*
    after add on config/colors you must add css for a new color
    .primary-{color} or .sidebar-{sidebar_color}
*/

.primary-blue {
  --primary: 220 70% 50%;
  --primary-foreground: 0 0% 98%;
  --success: 160 60% 45%;
  --success-foreground: 170 64% 84%;
  --warning: 30 80% 55%;
  --warning-foreground: 48 96% 89%;

  /* chart colors */
  --chart-1: 220 70% 50%;
  --chart-2: 212 95% 68%;
  --chart-3: 216 92% 60%;
  --chart-4: 210 98% 78%;
  --chart-5: 212 97% 87%;

  --sidebar-ring: 217.2 91.2% 59.8%;
  --sidebar-primary: 220 70% 50%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-border: 240 3.7% 15.9%;

  /* radius */
  --radius: 0.5rem;
}

.dark .primary-blue {
  --primary: 220 70% 50%;
  --primary-foreground: 20 0% 100%;
  --success: 160 60% 45%;
  --success-foreground: 170 64% 84%;
  --warning: 30 80% 55%;
  --warning-foreground: 48 96% 89%;

  /* chart colors */
  --chart-1: 220 70% 50%;
  --chart-2: 212 95% 68%;
  --chart-3: 216 92% 60%;
  --chart-4: 210 98% 78%;
  --chart-5: 212 97% 87%;

  --sidebar-ring: 217.2 91.2% 59.8%;
  --sidebar-primary: 220 70% 50%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-border: 240 3.7% 15.9%;

  /* radius */
  --radius: 0.5rem;
}

.primary-violet {
  --primary: 258.3 89.5% 66.3%;
  --primary-foreground: 60 9.1% 97.8%;
  --success: 160 60% 45%;
  --success-foreground: 170 64% 84%;
  --warning: 30 80% 55%;
  --warning-foreground: 48 96% 89%;

  /* chart colors */
  --chart-1: 258.3 89.5% 66.3%;
  --chart-2: 255.1 91.7% 76.3%;
  --chart-3: 252.5 94.7% 85.1%;
  --chart-4: 250.5 95.2% 91.8%;
  --chart-5: 262.1 83.3% 57.8%;

  --sidebar-ring: 263.4 70% 50.4%;
  --sidebar-primary: 258.3 89.5% 66.3%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-border: 220 13% 91%;

  /* radius */
  --radius: 0.5rem;
}

.dark .primary-violet {
  --primary: 263.4 70% 50.4%;
  --primary-foreground: 60 9.1% 97.8%;
  --success: 160 60% 45%;
  --success-foreground: 170 64% 84%;
  --warning: 30 80% 55%;
  --warning-foreground: 48 96% 89%;

  /* chart colors */
  --chart-1: 262.1 83.3% 57.8%;
  --chart-2: 263.4 70% 50.4%;
  --chart-3: 263.4 69.3% 42.2%;
  --chart-4: 263.5 67.4% 34.9%;
  --chart-5: 258.3 89.5% 66.3%;

  --sidebar-ring: 258.3 89.5% 66.3%;
  --sidebar-primary: 263.4 70% 50.4%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-border: 240 3.7% 15.9%;

  /* radius */
  --radius: 0.5rem;
}

.primary-lime {
  --primary: 83.7 80.5% 44.3%;
  --primary-foreground: 60 9.1% 97.8%;
  --success: 160 60% 45%;
  --success-foreground: 170 64% 84%;
  --warning: 30 80% 55%;
  --warning-foreground: 48 96% 89%;

  /* chart colors */
  --chart-1: 83.7 80.5% 44.3%;
  --chart-2: 82.7 78% 55.5%;
  --chart-3: 82 84.5% 67.1%;
  --chart-4: 80.9 88.5% 79.6%;
  --chart-5: 84.8 85.2% 34.5%;

  --sidebar-ring: 85.9 78.4% 27.3%;
  --sidebar-primary: 83.7 80.5% 44.3%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-border: 220 13% 91%;

  /* radius */
  --radius: 0.5rem;
}

.dark .primary-lime {
  --primary: 85.9 78.4% 27.3%;
  --primary-foreground: 60 9.1% 97.8%;
  --success: 160 60% 45%;
  --success-foreground: 170 64% 84%;
  --warning: 30 80% 55%;
  --warning-foreground: 48 96% 89%;

  /* chart colors */
  --chart-1: 84.8 85.2% 34.5%;
  --chart-2: 85.9 78.4% 27.3%;
  --chart-3: 86.3 69% 22.7%;
  --chart-4: 87.6 61.2% 20.2%;
  --chart-5: 83.7 80.5% 44.3%;

  --sidebar-ring: 83.7 80.5% 44.3%;
  --sidebar-primary: 85.9 78.4% 27.3%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-border: 240 3.7% 15.9%;

  /* radius */
  --radius: 0.5rem;
}

.primary-cyan {
  --primary: 188.7 94.5% 42.7%;
  --primary-foreground: 60 9.1% 97.8%;
  --success: 160 60% 45%;
  --success-foreground: 170 64% 84%;
  --warning: 30 80% 55%;
  --warning-foreground: 48 96% 89%;

  /* chart colors */
  --chart-1: 188.7 94.5% 42.7%;
  --chart-2: 187.9 85.7% 53.3%;
  --chart-3: 187 92.4% 69%;
  --chart-4: 186.2 93.5% 81.8%;
  --chart-5: 191.6 91.4% 36.5%;

  --sidebar-ring: 192.9 82.3% 31%;
  --sidebar-primary: 188.7 94.5% 42.7%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-border: 220 13% 91%;

  /* radius */
  --radius: 0.5rem;
}

.dark .primary-cyan {
  --primary: 192.9 82.3% 31%;
  --primary-foreground: 60 9.1% 97.8%;
  --success: 160 60% 45%;
  --success-foreground: 170 64% 84%;
  --warning: 30 80% 55%;
  --warning-foreground: 48 96% 89%;

  /* chart colors */
  --chart-1: 191.6 91.4% 36.5%;
  --chart-2: 192.9 82.3% 31%;
  --chart-3: 194.4 69.6% 27.1%;
  --chart-4: 196.4 63.6% 23.7%;
  --chart-5: 188.7 94.5% 42.7%;

  --sidebar-ring: 188.7 94.5% 42.7%;
  --sidebar-primary: 192.9 82.3% 31%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-border: 240 3.7% 15.9%;

  /* radius */
  --radius: 0.5rem;
}

.primary-rose {
  --primary: 349.7 89.2% 60.2%;
  --primary-foreground: 60 9.1% 97.8%;
  --success: 160 60% 45%;
  --success-foreground: 170 64% 84%;
  --warning: 30 80% 55%;
  --warning-foreground: 48 96% 89%;

  /* chart colors */
  --chart-1: 349.7 89.2% 60.2%;
  --chart-2: 351.3 94.5% 71.4%;
  --chart-3: 352.6 95.7% 81.8%;
  --chart-4: 352.7 96.1% 90%;
  --chart-5: 346.8 77.2% 49.8%;

  --sidebar-ring: 345.3 82.7% 40.8%;
  --sidebar-primary: 349.7 89.2% 60.2%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-border: 220 13% 91%;

  /* radius */
  --radius: 0.5rem;
}

.dark .primary-rose {
  --primary: 345.3 82.7% 40.8%;
  --primary-foreground: 60 9.1% 97.8%;
  --success: 160 60% 45%;
  --success-foreground: 170 64% 84%;
  --warning: 30 80% 55%;
  --warning-foreground: 48 96% 89%;

  /* chart colors */
  --chart-1: 346.8 77.2% 49.8%;
  --chart-2: 345.3 82.7% 40.8%;
  --chart-3: 343.4 79.7% 34.7%;
  --chart-4: 341.5 75.5% 30.4%;
  --chart-5: 349.7 89.2% 60.2%;

  --sidebar-ring: 349.7 89.2% 60.2%;
  --sidebar-primary: 345.3 82.7% 40.8%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-border: 240 3.7% 15.9%;

  /* radius */
  --radius: 0.5rem;
}

/*
  @notes sidebar color deeps

  background: 950
  foreground: 200
  accent: 800
  accent-foreground: 200
*/

.sidebar-default {
  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
}

.dark .sidebar-default {
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
}

.sidebar-zinc {
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
}

.dark .sidebar-zinc {
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
}

.sidebar-slate {
  --sidebar-background: 222.2 84% 4.9%;
  --sidebar-foreground: 214.3 31.8% 91.4%;
  --sidebar-accent: 222.2 47.4% 11.2%;
  --sidebar-accent-foreground: 214.3 31.8% 91.4%;
}

.dark .sidebar-slate {
  --sidebar-background: 222.2 84% 4.9%;
  --sidebar-foreground: 214.3 31.8% 91.4%;
  --sidebar-accent: 222.2 47.4% 11.2%;
  --sidebar-accent-foreground: 214.3 31.8% 91.4%;
}

.sidebar-stone {
  --sidebar-background: 20 14.3% 4.1%;
  --sidebar-foreground: 214.3 31.8% 91.4%;
  --sidebar-accent: 12 6.5% 15.1%;
  --sidebar-accent-foreground: 214.3 31.8% 91.4%;
}

.dark .sidebar-stone {
  --sidebar-background: 20 14.3% 4.1%;
  --sidebar-foreground: 214.3 31.8% 91.4%;
  --sidebar-accent: 12 6.5% 15.1%;
  --sidebar-accent-foreground: 214.3 31.8% 91.4%;
}